import subprocess                                      ## IMPORTING MODULE subprocess ##
while True :                                           ## STARTING while LOOP ##
      print()
      print("ENTER AN IP OR WEBSITE NAME : ")

    
      i = input(">>>>")                                ## TAKING INPUT FROM USER ##
      print()
      subprocess.call("ping "+ i ,shell=True)          ## subprocess.call() FUNCTION ##

## CREATED BY ANKIT CHANDOK ##
## codexstudios.ltd@gmail.com ##
